body{
	 font-family: "Barlow", sans-serif;
     color: #516171;
    line-height: 1.7;
}
h1,h2,h3,h4,h5,h6{
	 font-weight: 700 !important;
	   color: #092032;
}
a{
    color: #092032;
    text-decoration: none;
    transition: 4sec;
    font-weight: 500;
}
img {
    width: 100%;
}
section {
    padding-top: 80px;
    padding-bottom: 80px;
}

/*.bg-cover{

	background-size: cover;
	background-position: center !important;

}*/
/* navbar */
.top-nav {
    background-color: #ff4d29;
    /*color: #fff;*/
    padding-top: 5px;
    padding-bottom: 3px;
}
.top-nav p {
    display: inline-block;
    margin-bottom: 0;
    /*margin-right: 16px;*/
    color: white;
}

.top-nav span,
.top-nav i {
    vertical-align: middle;
}
.social-icons a
{
	width: 28px;
	height: 28px;
	background-color: rgba(255, 255, 255, 0.3);
	/*opacity: 0.3;*/
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	font-size: 20px;
	border-radius: 100px;
}
/*.social-icons img{
	width: 50px;
	height: 50px;
}*/
.social-icons a:hover{
	background-color: #ffffff;
	color: #ff4d29;
}
.navbar{
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

.navbar .navbar-nav .nav-item .nav-link{
	color: black;
	text-align: right;

}

.navbar .navbar-nav .nav-item .nav-link:hover,
.navbar .navbar-nav .nav-item .nav-link.active{
	color: #ff4d29;

}
.navbar-brand{
	font-weight: 700;
	font-size: 26px;
	color: #092032;
}
.navbar-brand span{
	color: #ff4d29;
}
.btn{
	padding: 9px 24px;
}
.btn-brand{
	border-color: #ff4d29;
	background-color: #ff4d29;
	color: #ffffff;
}
.btn-brand:hover{
	background-color: #e04122;
	color: #ffffff;
}
/*#about img{
	width: 60%;
}*/
@media screen and minwidth(320px) and maxwidth(767px){
	.about .row img{
		display: block;
	}
}